
    <section class="page-section">
      <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-10">
                <figure class="page-section__img">
                  <%= image_tag('products/periodic-4000/periodic-4000-framed.jpg', :class => 'img-fluid') %>
                </figure>
                <p>
                  Given for each summit is a difficulty rating, elevation, elevation rank, # of trails at summit, view type, summit type, Federal designation, county location, land manager, region within the Whites, and more!
                </p>
              </div>
            </div>
        </div>
      </div>
    </section>

    <section class="page-section page-section--gray">    
      <div class="container-fluid container-fluid--maxwidth">
        <h2 class="page-section__heading">
          <span>Key</span>
        </h2>
        <div class="row justify-content-center">
          <div class="col-sm-auto text-center mb-3 bg-white key__col key__col--h400">
            <%= image_tag('products/periodic-4000/key1.png') %>
          </div>
          <div class="col-sm-auto text-center mb-3 bg-white key__col key__col--h400">
            <%= image_tag('products/periodic-4000/key2.png') %>
          </div>
          <div class="col-sm-auto text-center mb-3 bg-white key__col key__col--h400">
            <%= image_tag('products/periodic-4000/key3.png') %>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-10">
              <figure class="page-section__img">
                <%= image_tag('products/periodic-4000/periodic-4000-key.jpg', :class => 'img-fluid') %>
              </figure>
              <p>
                Offset-printed on 80lb paper with an endurance gloss cover.
              </p>
            </div>
          </div>
      </div>
    </section>


