
    <section class="page-section">
      <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-10">
              <div class="row justify-content-center">
                <div class="col-6">
                  <figure class="page-section__img">
                    <%= image_tag('products/ski/periodic-ski-cali-framed.jpg', :class => 'img-fluid') %>
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="page-section__img">
                    <%= image_tag('products/ski/periodic-table-of-colorado-resorts.jpg', :class => 'img-fluid') %>
                  </figure>
                </div>
              </div>
              <p>
                Each individual box contains information on a particular ski resort’s vertical rise, base and summit elevations, average amount of snowfall, trail difficulty, number of runs, number of lifts, and available indicators for night skiing, artificial snowmaking, terrain parks and Nordic (XC) skiing.
              </p>
            </div>
          </div>
      </div>
    </section>

    <section class="page-section page-section--gray">    
      <div class="container-fluid container-fluid--maxwidth">
        <h2 class="page-section__heading">
          <span>Key</span>
        </h2>
        <div class="row justify-content-center">
          <div class="col-sm-auto text-center mb-3 bg-white key__col">
            <%= image_tag('products/ski/key1.png') %>
          </div>
          <div class="col-sm-auto text-center mb-3 bg-white key__col">
            <%= image_tag('products/ski/key2.png') %>
          </div>
          <div class="col-sm-auto text-center mb-3 bg-white key__col">
            <%= image_tag('products/ski/key3.png') %>
          </div>
          <div class="col-sm-auto text-center mb-3 bg-white key__col">
            <%= image_tag('products/ski/key4.png') %>
          </div>
          <div class="col-sm-auto text-center mb-3 bg-white key__col">
            <%= image_tag('products/ski/key5.png') %>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-10">
              <p>
                The California print uses data from the 2015-2016 season and features all major and minor resorts in California including: Mammoth Mountain, Squaw Valley, Kirkwood, Donner Ski Ranch, China Peak, Bear Mountain and Sugar Bowl.
              </p>
              <figure class="page-section__img">
                <%= image_tag('products/ski/ski-cali-hero.jpg', :class => 'img-fluid') %>
              </figure>
              <p>
                 The Colorado print uses data from the 2014-2015 season and features all major and minor resorts in Colorado including: Vail, Beaver Creek, Aspen, Telluride and Arapahoe Basin.
              </p>
              <figure class="page-section__img">
                <%= image_tag('products/ski/ski-co-hero.jpg', :class => 'img-fluid') %>
              </figure>
            </div>
          </div>
      </div>
    </section>
