---
  title: Periodic Table of Ski Resorts - California
  og_img: https://withbr.io/images/og/periodic-ski-ca.png
  og_desc: 'The Periodic Table of Ski Resorts - California packs a wealth of information about California ski resorts in a tiny square, information such as vertical rise, base and summit elevations, average amount of snowfall, trail difficulty, number of runs, number of lifts, and more! All major and minor resorts are featured in this 18x24-inch print.'
  page_hero: ski-cali
---

    <div class="container-fluid" style="max-width:95%;">
      <div class="page-section page-section--product">
        <div class="row justify-content-center mt-4 pt-4">
          <div class="col-lg-10 col-xl-8">
            <div class="page-section__lead page-section__lead--product">
              <h2 class="page-section__heading text-center">
                <span>Periodic Table of Ski Resorts - California</span>
              </h2>
              <p>
                The Periodic Table of Ski Resorts brings a data-oriented approach to different ski regions by packing incredible and extensive detail about each ski resort into a beautifully designed 24” x 18” poster.
              </p>
              <p>
                Each individual box contains information on a particular ski resort’s vertical rise, base and summit elevations, average amount of snowfall, trail difficulty, number of runs, number of lifts, and available indicators for night skiing, artificial snowmaking, terrain parks and Nordic (XC) skiing.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-section page-section--gray">    
      <div class="container-fluid" style="max-width:1600px;">
        <div class="page-section__lead text-center">
          <h2 class="page-section__heading text-center">
            <span>Key</span>
          </h2>
        </div>
        <div class="row justify-content-center mb-5">
          <div class="col-auto text-center mb-3 bg-white">
            <%= image_tag('products/ski-cali/key1.png', :style => 'height:250px;') %>
          </div>
          <div class="col-auto text-center mb-3 bg-white">
            <%= image_tag('products/ski-cali/key2.png', :style => 'height:250px;') %>
          </div>
          <div class="col-auto text-center mb-3 bg-white">
            <%= image_tag('products/ski-cali/key3.png', :style => 'height:250px;') %>
          </div>
          <div class="col-auto text-center mb-3 bg-white">
            <%= image_tag('products/ski-cali/key4.png', :style => 'height:250px;') %>
          </div>
          <div class="col-auto text-center mb-3 bg-white">
            <%= image_tag('products/ski-cali/key5.png', :style => 'height:250px;') %>
          </div>
        </div>
      </div>
    </div>
    <div class="page-section">
      <div class="container">
        <div class="row justify-content-center mt-4 pt-4">
          <div class="col-lg-10 col-xl-8">
            <figure class="text-center">
              <%= image_tag('products/ski-cali/periodic-ski-cali-perspective.jpg', :class => 'img-fluid') %>
            </figure>
            <div class="page-section__lead mt-5">
              <p>
                The California print uses data from the 2015-2016 season and features all major and minor resorts in California including: Mammoth Mountain, Squaw Valley, Kirkwood, Donner Ski Ranch, China Peak, Bear Mountain and Sugar Bowl.
              </p>
              <p>
                <b>Available at</b>: <a href="https://www.circlesquarediamond.com/collections/periodic-table-of-ski-resorts/products/periodic-table-ski-resorts-california" target="_blank">Circle Square Diamond</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>