---
  title: Work
---

<% content_for :script do %>
    <script>
      $('.showcase-block').each(function(){
          var self = $(this);
          $(this).waypoint({
               offset: '50%',
               handler: function(){
                   self.addClass('viewed');
               },
          });
      })
    </script>
<% end %>

<%= partial 'layouts/svgsprite' %>

<section class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <h2 class="page-section__heading">
          <span>Web</span>
        </h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <p class="text-center">
          Unlike print design, web design entails contending with a shape-shifting canvas. I've come to relish the challenge!
        </p>
      </div>
    </div>
    <div class="showcase-block">
          <%= image_tag('work/vmp-store-desktop.png', :class => 'img-fluid vmp-store-desktop') %>
          <%= image_tag('work/vmp-store-mobile.png', :class => 'vmp-store-mobile') %>
          <%= image_tag('work/vmp-checkout-mobile.png', :class => 'vmp-checkout-mobile') %>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-3">
        <h2 class="page-section__heading text-left mb-3">
          <span>User Interfaces</span>
        </h2>
        <p>
          From app dashboards to e-commerce sites, I design and code UIs for evolving datasets and ever-changing screens.
        </p>
      </div>
      <div class="col-lg-8 order-lg-1">
        <div class="showcase-block">
          <%= image_tag('work/lumen-dashboard-mobile.png', :class => 'img-fluid lumen-dashboard-mobile') %>
          <%= image_tag('work/lumen-profile-mobile.png', :class => 'lumen-profile-mobile') %>
          <%= image_tag('work/lumen-search-results-mobile.png', :class => 'lumen-search-results-mobile') %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-3 order-lg-12">
        <h2 class="page-section__heading text-left mb-3">
          <span>Visuals</span>
        </h2>
        <p>
          In addition to UIs, I create infographics, HTML emails, maps, swag, illustrations, logos, ads, and more.
        </p>
      </div>
      <div class="col-lg-8 order-lg-1">
        <div class="showcase-block showcase-block--visuals text-center">
          <%= image_tag('work/cars-then-now.png', :class => 'showcase-block__img cars-then-now') %>
          <%= image_tag('work/ct2.png', :class => 'showcase-block__img cartalk') %>
          <%= image_tag('work/colorado-trail-patch-concept.png', :class => 'showcase-block__img colorado-trail') %>
          <%= image_tag('work/mount-adams-challenge-logo.png', :class => 'showcase-block__img mac') %>
          <%= image_tag('work/playing-card1.png', :class => 'showcase-block__img playing-card first') %>
          <%= image_tag('work/playing-card2.png', :class => 'showcase-block__img playing-card second') %>
          <%= image_tag('work/playing-card3.png', :class => 'showcase-block__img playing-card third') %>
          <%= image_tag('work/playing-card4.png', :class => 'showcase-block__img playing-card fourth') %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section page-section--gray">
  <div class="container-fluid container-fluid--maxwidth">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <h2 class="page-section__heading mb-5 mb-sm-0 mb-md-0 mb-lg-0 mb-xl-0">
          <span>Clients</span>
        </h2>
      </div>
    </div>
    <div class="row justify-content-center align-items-center text-center">
      <%
          clients = ['cartalk', 'BigBoulder', 'eb', 'gnip', 'Heavybit', 'cfp', 'rsv', 'twitter', 'self-made', 'scott-jurek', 'su2c', 'vmp']
          clients.each do |client|
      %>
        <div class="col-4 col-md-3 col-lg-2">
          <svg viewBox="0 0 100 100" class="icon icon--<%= client.downcase %>">
            <use xlink:href="#icon-<%= client.downcase %>"></use>
          </svg>
        </div>
      <% end %>
    </div>
  </div>
</section>


<section class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <h2 class="page-section__heading">
          <span>Skills at a Glance</span>
        </h2>
      </div>
    </div>
    <div class="row justify-content-around align-items-start">
      <% data.skills.each do |skillset| %>
        <div class="col-12 col-sm-6 col-md-auto col mb-5 text-center text-sm-left">
          <dl class="px-2">
              <dt>
                <%= skillset.name %>
              </dt>
              <% skillset.skills.each do |skill| %>
                <dd>
                  <%= skill %>
                </dd>
              <% end %>
          </dl>
        </div>
      <% end -%>
    </div>
  </div>
</section>

