
    <section class="page-section page-section-alt page-section-periodic-header">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <article class="teaser-text text-centered">
              <h2 class="heading heading-primary">
                Periodic Table of 4000-Footers
              </h2>
              <p>
                A NH native, I started hiking in the White Mountains when I was four years old. Even immediately after finishing hikes, I remember poring over maps and guidebooks, scouting the next adventure. I was hooked...still am. A soon-to-be dad, I want to foster the same sense of anticipation in my little one. Since my wife is a scientist, I thought it would be fun to extend the periodic table paradigm to peak-bagging. Little did I know just how darned hard that would be!
              </p>
            </article>
          </div>
        </div>
    </section>

    <section class="page-section page-section-periodic-body">
      <div class="jack"></div>
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          <figure class="faq-graphic">
            <div class="faq-graphic-img">
              <%= image_tag('periodic/poster-pic-overview.jpg', :class => 'img-responsive') %>
            </div>
            <figcaption class="faq-graphic-caption">
              <%= lorem.words(5) %>
            </figcaption>
          </figure>
          <article class="faq">
            <h3 class="faq-question">
              <%= lorem.words(2) %>
            </h3>
            <div class="faq-response">
              <%= simple_format(lorem.paragraph) %>
            </div>
          </article>
          <figure class="faq-graphic">
            <div class="faq-graphic-img">
              <%= image_tag('periodic/poster-pic-detail.jpg', :class => 'img-responsive') %>
            </div>
            <figcaption class="faq-graphic-caption">
              <%= lorem.words(5) %>
            </figcaption>
          </figure>
          <article class="faq">
            <h3 class="faq-question">
              <%= lorem.words(2) %>
            </h3>
            <div class="faq-response">
              <%= simple_format(lorem.paragraph) %>
            </div>
          </article>
          <article class="faq">
            <h3 class="faq-question">
              <%= lorem.words(2) %>
            </h3>
            <div class="faq-response">
              <%= simple_format(lorem.paragraphs(2)) %>
            </div>
          </article>
          <figure class="faq-graphic">
            <div class="faq-graphic-img">
              <%= image_tag('periodic/poster-pic-legend.jpg', :class => 'img-responsive') %>
            </div>
            <figcaption class="faq-graphic-caption">
              <%= lorem.words(5) %>
            </figcaption>
          </figure>
          <article class="faq">
            <h3 class="faq-question">
              <%= lorem.words(2) %>
            </h3>
            <div class="faq-response">
              <%= simple_format(lorem.paragraphs(2)) %>
            </div>
          </article>
          <figure class="faq-graphic">
            <div class="faq-graphic-img">
              <%= image_tag('periodic/poster-pic-bottom.jpg', :class => 'img-responsive') %>
            </div>
            <figcaption class="faq-graphic-caption">
              <%= lorem.words(5) %>
            </figcaption>
          </figure>
          <article class="faq">
            <h3 class="faq-question">
              <%= lorem.words(2) %>
            </h3>
            <div class="faq-response">
              <%= simple_format(lorem.paragraph) %>
            </div>
          </article>
        </div>
      </div>
    </section>


    <section class="page-section page-section-alt page-section-contact">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="heading heading-primary">
              Contact
            </h2>
            <form class="contact-form" name="contact" action="thank-you">
              <div class="form-field">
                <label class="form-label">
                  First Name
                </label>
                <input type="text" name="first_name">
              </div>
              <div class="form-field">
                <label class="form-label">
                  Last Name
                </label>
                <input type="text" name="last_name">
              </div>
              <div class="form-field">
                <label class="form-label">
                  Email
                </label>
                <input type="email" name="email">
              </div>
              <div class="form-field">
                <label class="form-label">
                  Your message
                </label>
                <textarea name="message"></textarea>
              </div>
              <div class="form-field form-field-submit">
                <button class="button-submit">
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

