<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta name="description" content="With Brio: sifting through maps and tables in search of compelling stories in data">
    <title><%= !current_page.data.title.blank? ? current_page.data.title + " | With Brio" : "With Brio" %></title>
    <%= stylesheet_link_tag 'styles' %>
    <%= yield_content :style %>
    <%= favicon_tag 'icons/favicon.ico', rel: 'icon', type: 'image/ico' %>
    <meta name="google-site-verification" content="4PckrMMHrmqaUBLFPM1IltvjrqpUTGfSAyyUm07uY4c" />
    <%= partial 'layouts/og' %>
  </head>
  
  <body class="<%= page_classes %>">

    <header class="site-header<%= ' site-header--home' if current_page.url == '/' %>">
      <%= partial "layouts/header" %>
    </header>

    <% if current_page.data.page_hero %>
      <figure class="hero<%= ' hero--product' if current_page.path.include?('products') %>">
        <%= image_tag('products/' + current_page.data.page_hero.to_s + '/' + current_page.data.page_hero.to_s + '-hero.jpg' , :class => 'hero__img') %>
      </figure>
    <% end %>

    <main class="site-main">
      <%= yield %>
    </main>
      
    <% unless current_page.url == '/' %>
      <footer class="site-footer">
        <%= partial "layouts/footer" %>
      </footer>
    <% end %>

    <%= javascript_include_tag '//code.jquery.com/jquery-3.2.1.slim.min.js', 'bootstrap' %>
    <script>
      document.body.classList.add('js-loading');

      window.addEventListener("load", showPage);

      function showPage() {
        document.body.classList.remove('js-loading');
      }
    </script>
    <%= yield_content :script %>

  </body>
</html>