<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta name="description" content="With Brio: sifting through maps and tables in search of compelling stories in data">
    <%=
      content_tag(:title,
        case yield_content(:title) || current_page.data.title
        when nil then 'With Brio'
        else (yield_content(:title) || current_page.data.title) + ' | With Brio'
        end
        )
    %>
    <%= stylesheet_link_tag 'styles' %>
    <%= yield_content :style %>
    <%= favicon_tag 'icons/favicon.ico', rel: 'icon', type: 'image/ico' %>
    <meta name="google-site-verification" content="4PckrMMHrmqaUBLFPM1IltvjrqpUTGfSAyyUm07uY4c" />
    <%= partial 'layouts/og' %>
  </head>
  
  <body class="<%= page_classes %>">

    <header class="site-header">
      <%= partial "layouts/header" %>
    </header>

    <main class="site-main">
      <%= yield %>
    </main>

    <footer class="site-footer">
      <%= partial "layouts/footer" %>
    </footer>

    <%#= javascript_include_tag '//code.jquery.com/jquery-3.2.1.slim.min.js', 'jquery.waypoints.min' %>
    <%#= yield_content :script %>

  </body>
</html>