---
  title: Periodic Table of Ski Resorts - Colorado
  og_img: https://withbr.io/images/og/periodic-ski-co.png
  og_desc: "The Periodic Table of Ski Resorts - Colorado packs a wealth of information about Colorado ski resorts in a tiny square, information such as vertical rise, base and summit elevations, average amount of snowfall, trail difficulty, number of runs, number of lifts, and more! All major and minor resorts are featured in this 18x24-inch print."
---

    <div class="page-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-9 col-xl-8">
            <div class="page-section__lead text-center">
              <h2 class="page-section__heading text-center">
                <span>Periodic Table of Ski Resorts - Colorado</span>
              </h2>
              <p>
                The Periodic Table of Ski Resorts brings a data-oriented approach to different ski regions by packing incredible and extensive detail about each ski resort into a beautifully designed 24” x 18” poster.
              </p>
            </div>
          </div>
        </div>
        <figure class="text-center">
          <%= image_tag('work/ski/periodic-table-of-colorado-resorts.jpg', :class => 'img-fluid') %>
        </figure>
        <div class="row justify-content-center mt-4 pt-4">
          <div class="col-lg-10 col-xl-8">
            <div class="page-section__lead">
              <p>
                 Each individual box contains information on a particular ski resort’s vertical rise, base and summit elevations, average amount of snowfall, trail difficulty, number of runs, number of lifts, and available indicators for night skiing, artificial snowmaking, terrain parks and Nordic (XC) skiing.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-section page-section--gray">    
      <div class="container-fluid" style="max-width:1600px;">
        <div class="page-section__lead text-center">
          <h2 class="page-section__heading text-center">
            <span>Key</span>
          </h2>
        </div>
        <div class="row justify-content-center mb-5">
          <div class="col-auto text-center mb-3 bg-white">
            <%= image_tag('work/ski/periodic-ski-cali-key1.png', :style => 'height:250px;') %>
          </div>
          <div class="col-auto text-center mb-3 bg-white">
            <%= image_tag('work/ski/periodic-ski-cali-key2.png', :style => 'height:250px;') %>
          </div>
          <div class="col-auto text-center mb-3 bg-white">
            <%= image_tag('work/ski/periodic-ski-cali-key3.png', :style => 'height:250px;') %>
          </div>
          <div class="col-auto text-center mb-3 bg-white">
            <%= image_tag('work/ski/periodic-ski-cali-key4.png', :style => 'height:250px;') %>
          </div>
          <div class="col-auto text-center mb-3 bg-white">
            <%= image_tag('work/ski/periodic-ski-cali-key5.png', :style => 'height:250px;') %>
          </div>
        </div>
      </div>
    </div>
    <div class="page-section">
      <div class="container">
        <figure class="text-center">
          <%= image_tag('work/ski/poster-side.jpg', :class => 'img-fluid') %>
        </figure>
        <div class="row justify-content-center pt-4">
          <div class="col-lg-10 col-xl-8">
            <div class="page-section__lead">
              <p>
                 The Colorado print uses data from the 2014-2015 season and features all major and minor resorts in Colorado including: Vail, Beaver Creek, Aspen, Telluride and Arapahoe Basin.
              </p>
              <p>
                <b>Available at</b>: <a href="https://www.circlesquarediamond.com/collections/periodic-table-of-ski-resorts/products/periodic-table-ski-resorts-colorado" target="_blank">Circle Square Diamond</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


