<% content_for :title, client.name %>
<% content_for :og_desc, client.blurb %>
<% content_for :og_img, 'https://withbr.io/images/og/' + client.slug + '.png' %>


    <header class="page-header">
      <div class="container-fluid container-fluid--maxwidth">
        <div class="row">
          <div class="col-lg-6">
            <div class="row justify-content-between">
              <div class="col-lg-8">
                <div class="page-header__title">
                    <%= client.name %>
                </div>
              </div>
              <div class="col-lg-3">
                <ul class="page-header__specs">
                  <li>UI/UX Design</li>
                  <li>LX Design</li>
                  <li>Graphic Design</li>
                  <li>Creative Direction</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="page-header__blurb">
              <%= !client.desc.blank? ? product.blurb : lorem.words(80) %>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="page-section page-section--compact-top">
      <div class="container-fluid container-fluid--maxwidth">
          <% if !client.images.blank? %>
            <% 
              slug = client.slug
              client.images.each_with_index do |pic,i| %>
                <figure>
                  <%= image_tag('work/' + slug + (i+1).to_s + pic.ext, :class => 'img-fluid') %>
                  <figcaption>
                    <%= lorem.words(3) %>
                  </figcaption>
                </figure>
            <% end %>
          <% else %>
            <% 6.times.each do |pic| %>
              <% random_height = rand(900...1500).to_s %>
              <figure>
                <%= image_tag(lorem.image('1200x'+random_height), :class => 'img-fluid') %>
                <figcaption>
                  <%= lorem.words(3) %>
                </figcaption>
              </figure>
            <% end %>
          <% end %>
      </div>
    </section>

