---
  title: Work
---

<% content_for :script do %>
    <script>
      $('.showcase-block').each(function(){
          var self = $(this);
          $(this).waypoint({
               offset: '50%',
               handler: function(){
                   self.addClass('viewed');
               },
          });
      })
    </script>
<% end %>

<section class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <p class="text-center">
          When not creating products or maintaining trails, I partner with talented people and teams to build things. 
        </p>
      </div>
    </div>
    <div class="showcase-block">
          <%= image_tag('work/vmp-store-desktop.png', :class => 'img-fluid vmp-store-desktop') %>
          <%= image_tag('work/vmp-store-mobile.png', :class => 'vmp-store-mobile') %>
          <%= image_tag('work/vmp-checkout-mobile.png', :class => 'vmp-checkout-mobile') %>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-3">
        <h2 class="page-section__heading text-left mb-3">
          <span>User Interfaces</span>
        </h2>
        <p>
          I relish the challenge of designing for screens&mdash;what other artistic endeavor entails a shape-shifting canvas?!
        </p>
      </div>
      <div class="col-lg-8 order-lg-1">
        <div class="showcase-block">
          <%= image_tag('work/lumen-dashboard-mobile.png', :class => 'img-fluid lumen-dashboard-mobile') %>
          <%= image_tag('work/lumen-profile-mobile.png', :class => 'lumen-profile-mobile') %>
          <%= image_tag('work/lumen-search-results-mobile.png', :class => 'lumen-search-results-mobile') %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-3 order-lg-12">
        <h2 class="page-section__heading text-left mb-3">
          <span>Visuals</span>
        </h2>
        <p>
          In addition to UIs, I've created vector logos, maps, illustrations, infographics, email mocks, and ads.
        </p>
      </div>
      <div class="col-lg-8 order-lg-1">
        <div class="showcase-block showcase-block--visuals text-center">
          <%= image_tag('work/rta-map.png', :class => 'showcase-block__img rta') %>
          <%= image_tag('work/ct2.png', :class => 'showcase-block__img cartalk') %>
          <%= image_tag('work/colorado-trail-patch-concept.png', :class => 'showcase-block__img colorado-trail') %>
        </div>
      </div>
    </div>
  </div>
</section>

<% if false %>
    <div class="text-center">
      <%= image_tag('work/4000-footer-playing-cards.png', :class => 'img-fluid my-5') %>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-sm-6 align-self-start mb-1 mb-sm-0">
        <%= image_tag('work/ct2.png', :class => 'img-fluid') %>
      </div>
      <div class="col-sm-6 align-self-start mb-1 mb-sm-0">
        <%= image_tag('work/ct3.png', :class => 'img-fluid') %>
      </div>
    </div>
    <div class="text-center">
      <%= image_tag('work/display-table.gif', :class => 'img-fluid mt-5') %>
      <%= image_tag('work/rta-map.png', :class => 'img-fluid mt-5') %>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-sm-6 align-self-start mb-1 mb-sm-0">
        <%= image_tag('work/colorado-trail-patch-concept.png', :class => 'img-fluid') %>
      </div>
      <div class="col-sm-6 align-self-end mb-1 mb-sm-0">
        <%= image_tag('work/mount-adams-challenge-logo.png', :class => 'img-fluid') %>
      </div>
    </div>
    <div class="text-center">
      <%= image_tag('work/cars-then-now.png', :class => 'img-fluid my-5') %>
    </div>
<% end %>


    <section class="page-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-xl-8">
            <h2 class="page-section__heading">
              <span>Skills at a Glance</span>
            </h2>
          </div>
        </div>
        <div class="row justify-content-around align-items-start">
          <% data.skills.each do |skillset| %>
            <div class="col-12 col-sm-6 col-md-auto col mb-5 text-center text-sm-left">
              <dl class="px-2">
                  <dt>
                    <%= skillset.name %>
                  </dt>
                  <% skillset.skills.each do |skill| %>
                    <dd>
                      <%= skill %>
                    </dd>
                  <% end %>
              </dl>
            </div>
          <% end -%>
        </div>
      </div>
    </section>

