---
  title: Work
---

<% if false #content_for :script do %>
    <script>
      // $('.page-section--compact-top').waypoint(function() {
      //   $("body").toggleClass('dimthelights');
      // });
      // $('.showcase').each(function(){
      //     var self = $(this);
      //     $(this).waypoint({
      //          offset: '70%',
      //          handler: function(){
      //             self.addClass('viewed');
      //          },
      //     });
      // });
    </script>
<% end %>


    <header class="page-header">
      <div class="container-fluid container-fluid--maxwidth">
        <div class="row">
          <div class="col-lg-6">
            <div class="row justify-content-between">
              <div class="col-lg-8">
                <div class="page-header__title">
                  Featured
                </div>
              </div>
              <div class="col-lg-3">
                <ul class="page-header__specs">
                  <li>UI/UX Design</li>
                  <li>LX Design</li>
                  <li>Graphic Design</li>
                  <li>Creative Direction</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="page-header__blurb">
              <%= lorem.words(60) %>
            </div>
          </div>
        </div>
      </div>
    </header>


    <section class="page-section page-section--compact-top">
      <div class="container-fluid container-fluid--maxwidth">
        <div class="row justify-content-center">
          <% data.clients.each_with_index do |client| %>
              <article class="col-md-6 showcase">
                <figure class="showcase__img">
                  <%= link_to_if(!client.images.blank?, image_tag('work/' + client.slug + '-showcase.png', :class => 'img-fluid'), '/work/' + client.slug, :class => 'showcase__link') %>
                </figure>
<% if false %>
                <%= content_tag(:h5, client.name, :class => 'showcase__title') %>
                <%= simple_format(lorem.words(rand(18..30)), :class => 'showcase__teaser') %>
<% end %>
              </article>
          <% end %>
        </div>
      </div>
    </section>

<% if false %>

    <section class="page-section page-section--compact-top">
      <div class="container-fluid container-fluid--maxwidth container-fluid--plump">
        <div class="row justify-content-center">
          <% data.clients.each do |client| %>
            <div class="col-lg-6 col-xl-4 d-flex flex-column showcase">
              <article class="showcase__content showcase__content--<%= client.slug %> d-flex flex-column flex-grow-1">
                <div class="showcase__details d-flex flex-column flex-grow-1">
                  <%= image_tag('work/client-logos/' + client.slug + '.svg', :class => 'img-fluid') %>
                  <div class="showcase__teaser d-flex flex-grow-1">
                    <%= (lorem.words(40)) %>
                  </div>
                </div>
                <footer class="showcase__img">
                  <%= image_tag('work/' + client.slug + '-showcase.png', :class => 'img-fluid') %>
                </footer>
              </article>
            </div>
          <% end %>
        </div>

        <div class="row d-flex flex-wrap justify-content-between">
          <% data.skills.each do |skillset| %>
            <div class="col-12 col-md-6 col-xl-3 d-flex flex-column">
              <article class="showcase showcase--skill d-flex flex-column flex-grow-1">
                <dl class="skills-list">
                  <dt class="skills-list__title">
                    <%= skillset.name %>
                  </dt>
                  <% skillset.skills.each do |skill| %>
                    <dd class="skills-list__item"><%= skill %></dd>
                  <% end %>
                </dl>
              </article>
            </div>
          <% end -%>
        </div>
<% end %>

