---
  title: Work
---

    <section class="page-section page-section--gray">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col col-md-5 col-lg-4 col-xl-3">
            <%= link_to(image_tag('work/wm48-passport.png', :class => 'img-fluid'), '/work/white-mountain-4000-footers-passport') %>
          </div>
          <div class="col col-md-5 col-lg-4 col-xl-3">
            <%= link_to(image_tag('work/nh52wav-passport.png', :class => 'img-fluid'), '#') %>
          </div>
        </div>
        <div class="row align-items-center justify-content-center mt-4">
          <div class="col col-md-5 col-lg-4 col-xl-3">
            <%= link_to(image_tag('work/periodic-4000.png', :class => 'img-fluid'), '/work/periodic-table-of-white-mountain-4000-footers') %>
          </div>
          <div class="col col-md-5 col-lg-4 col-xl-3">
            <%= link_to(image_tag('work/periodic-ski-co.png', :class => 'img-fluid'), '/work/periodic-table-of-ski-resorts-colorado') %>
          </div>
          <div class="col col-md-5 col-lg-4 col-xl-3">
            <%= link_to(image_tag('work/periodic-ski-cali.png', :class => 'img-fluid'), '/work/periodic-table-of-ski-resorts-colorado') %>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section page-section--text">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h2 class="page-section__heading text-center">
              <span>Web Dev</span>
            </h2>
            <p class="text-center">
              When not dabbling in product design, I build responsive web apps and have been fortunate to work with some incredible clients!
            </p>
          </div>
        </div>
        <div class="row align-items-center justify-content-center mt-5 pt-5">
          <div class="col text-center">
            <svg class="icon icon--su2c">
              <use xlink:href="#icon-su2c"></use>
            </svg>
          </div>
          <div class="col text-center">
            <svg class="icon icon--twitter">
              <use xlink:href="#icon-twitter"></use>
            </svg>
          </div>
          <div class="w-100 mt-logos hidden-md-up"></div>
          <div class="col text-center">
            <svg class="icon icon--cfp">
              <use xlink:href="#icon-cfp"></use>
            </svg>
          </div>
          <div class="w-100 mt-logos hidden-lg-up hidden-sm-down"></div>
          <div class="col text-center">
            <svg class="icon icon--eb">
              <use xlink:href="#icon-eb"></use>
            </svg>
          </div>
          <div class="w-100 mt-logos hidden-md-up"></div>
          <div class="w-100 mt-logos hidden-md-down hidden-xl-up"></div>
          <div class="col text-center">
            <svg class="icon icon--rsv">
              <use xlink:href="#icon-rsv"></use>
            </svg>
          </div>
          <div class="w-100 mt-logos hidden-lg-down"></div>
          <div class="col text-center">
            <svg class="icon icon--cartalk">
              <use xlink:href="#icon-cartalk"></use>
            </svg>
          </div>
          <div class="w-100 mt-logos hidden-md-up"></div>
          <div class="w-100 mt-logos hidden-lg-up hidden-sm-down"></div>
          <div class="col text-center">
            <svg class="icon icon--bigboulder">
              <use xlink:href="#icon-bigboulder"></use>
            </svg>
          </div>
          <div class="col text-center">
            <svg class="icon icon--self-made">
              <use xlink:href="#icon-self-made"></use>
            </svg>
          </div>
          <div class="w-100 mt-logos hidden-md-up"></div>
          <div class="w-100 mt-logos hidden-md-down hidden-xl-up"></div>
          <div class="col text-center">
            <svg class="icon icon--heavybit">
              <use xlink:href="#icon-heavybit"></use>
            </svg>
          </div>
          <div class="w-100 mt-logos hidden-lg-up hidden-sm-down"></div>
          <div class="col text-center">
            <svg class="icon icon--scott-jurek">
              <use xlink:href="#icon-scott-jurek"></use>
            </svg>
          </div>
          <div class="w-100 mt-logos hidden-md-up"></div>
          <div class="w-100 mt-logos hidden-lg-down"></div>
          <div class="col col-xl-auto text-center">
            <svg class="icon icon--gnip">
              <use xlink:href="#icon-gnip"></use>
            </svg>
          </div>
          <div class="col col-xl-auto text-center">
            <svg class="icon icon--vmp">
              <use xlink:href="#icon-vmp"></use>
            </svg>
          </div>
        </div>
      </div>
    </section>
