---
  title: Work
---

    <div class="page-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-lg-10 col-xl-8">
            <h2 class="page-section__heading text-center">
              <span>Products</span>
            </h2>
            <p class="page-section__lead text-center">
              During the past few years, I've sifted through maps and tables looking for compelling stories in data. Below are a few examples of what I've found.
            </p>
          </div>
        </div>
        <a href="/work/undercast-approaches-to-the-white-islands-of-new-hampshire" class="product product--new product--undercast-approaches">
          <%= image_tag('work/undercast-approaches-showcase.jpg', :class => 'img-fluid') %>
        </a>
        <div class="row">
          <div class="col-lg-6">
            <a href="/work/periodic-table-of-ski-resorts-california" class="product product--periodic-ski-cali">
              <%= image_tag('work/periodic-ski-cali-showcase.jpg', :class => 'img-fluid') %>
            </a>
            <a href="/work/periodic-table-of-ski-resorts-colorado" class="product product--periodic-ski-co">
              <%= image_tag('work/periodic-ski-co-showcase.jpg', :class => 'img-fluid') %>
            </a>
          </div>
          <div class="col-lg-6">
            <a href="/work/topographic-fingerprints-of-the-four-thousand-footers" class="product product--new product--fingerprints">
              <%= image_tag('work/fingerprints-showcase.jpg', :class => 'img-fluid') %>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <a href="/work/white-mountain-4000-footers-passport" class="product product--wm48">
              <%= image_tag('work/passport-showcase.jpg', :class => 'img-fluid') %>
            </a>
          </div>
          <div class="col-lg-4">
            <a href="/work/new-hampshire-52-with-a-view-passport" class="product product--nh52">
              <%= image_tag('work/nh52-passport-showcase.jpg', :class => 'img-fluid') %>
            </a>
          </div>
          <div class="col-lg-4">
            <a href="/work/periodic-table-of-white-mountain-4000-footers" class="product product--wm-periodic">
              <%= image_tag('work/periodic-4000-showcase.jpg', :class => 'img-fluid') %>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="page-section page-section--gray">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-xl-8">
            <h2 class="page-section__heading text-center">
              <span>Trails</span>
            </h2>
            <p class="page-section__lead text-center">
              The Hurricane Trail <span style="font-style:italic;font-family:baskerville,serif;">&amp;</span> Asquam-Ridge Trail are two of my favorite trails on Mount Moosilauke. Less traveled, both offer mixed forests, mossy glens, and surprise vistas. Maintaining the two paths for the past few years has been fun!
            </p>
          </div>
        </div>
        <div class="row align-items-start justify-content-center mt-5">
          <div class="col-sm-6 mb-4">
            <%= image_tag('work/trails1.jpg', :class => 'img-fluid') %>
          </div>
          <div class="col-sm-6 mb-4">
            <%= image_tag('work/trails2.jpg', :class => 'img-fluid') %>
          </div>
        </div>
      </div>
    </div>

