---
  title: Work
---

<div class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <h2 class="page-section__heading text-center">
          <span>User Interfaces</span>
        </h2>
        <p class="page-section__lead text-center">
          When not making passports or posters or trails, I can often be found designing user interfaces. 
        </p>
      </div>
    </div>
    <div class="text-center">
      <%= image_tag('dev/heavybit-program.png', :class => 'img-fluid mt-5') %>
      <%= image_tag('dev/rxcbd-mood-board.png', :class => 'img-fluid mt-5') %>
      <%= image_tag('dev/bbc-site.png', :class => 'img-fluid my-5') %>
    </div>
  </div>
</div>

<div class="page-section page-section--gray">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <h2 class="page-section__heading text-center">
          <span>Creative Direction</span>
        </h2>
        <p class="page-section__lead text-center">
          I've had the pleasure of working with some incredibly talented designers while directing various creative projects.
        </p>
      </div>
    </div>
    <div class="text-center">
      <%= image_tag('dev/bbc-whiskey.png', :class => 'img-fluid mt-5') %>
      <%= image_tag('dev/bbc-swag.jpg', :class => 'img-fluid mt-5') %>
      <%= image_tag('dev/cfa-logos.png', :class => 'img-fluid mt-5') %>
      <%= image_tag('dev/cfa-apply.png', :class => 'img-fluid my-5') %>
    </div>
  </div>
</div>



<div class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <h2 class="page-section__heading text-center">
          <span>Visuals</span>
        </h2>
        <p class="page-section__lead text-center">
          In addition to UIs, I've created vector logos, maps, illustrations, infographics, email mocks, and ads.
        </p>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-sm-6 align-self-start mb-1 mb-sm-0">
        <%= image_tag('dev/ct2.png', :class => 'img-fluid') %>
      </div>
      <div class="col-sm-6 align-self-end mb-1 mb-sm-0">
        <%= image_tag('dev/ct3.png', :class => 'img-fluid') %>
      </div>
    </div>
    <div class="text-center">
      <%= image_tag('dev/display-table.gif', :class => 'img-fluid mt-5') %>
      <%= image_tag('dev/rta-map.png', :class => 'img-fluid mt-5') %>
      <%= image_tag('dev/cars-then-now.png', :class => 'img-fluid my-5') %>
    </div>
  </div>
</div>



