
    <section class="page-section page-section-intro">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <figure class="table-row table-row-brand">
              <div class="table-cell table-cell-brand">
                <%= image_tag('brands/cartalk.svg', :class => 'table-cell-brand-img') %>
              </div>
              <div class="table-cell table-cell-brand">
                <%= image_tag('brands/heavybit.svg', :class => 'table-cell-brand-img') %>
              </div>
              <div class="table-cell table-cell-brand">
                <%= image_tag('brands/cfp.svg', :class => 'table-cell-brand-img') %>
              </div>
              <div class="table-cell table-cell-brand">
                <%= image_tag('brands/gnip.svg', :class => 'table-cell-brand-img') %>
              </div>
            </figure>
            <figure class="table-row table-row-brand">
              <div class="table-cell table-cell-brand">
                <%= image_tag('brands/big-boulder.svg', :class => 'table-cell-brand-img') %>
              </div>
              <div class="table-cell table-cell-brand">
                <%= image_tag('brands/su2c.svg', :class => 'table-cell-brand-img') %>
              </div>
              <div class="table-cell table-cell-brand">
                <%= image_tag('brands/perpetual.svg', :class => 'table-cell-brand-img') %>
              </div>
              <div class="table-cell table-cell-brand">
                <%= image_tag('brands/cfm.svg', :class => 'table-cell-brand-img') %>
              </div>
            </figure>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section page-section-padded-lg page-section-work">
      <div class="container">
        <%= image_tag('bobbles.svg', :class => 'bobbles') %>
        <div class="showcase">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <article class="text-centered">
                
              </article>
            </div>
          </div>
          <% 
            data.clients.each.with_index do |client, i|
          %>
            <div class="showcase-row">
              <% if i % 2 == 0 %>
                <div class="row">
                  <figure class="col-md-6 pull-right">
                    <%= image_tag('work/' + client.slug + '.' + client.img_type, :class => 'img-responsive') %>
                  </figure>
                  <article class="col-md-5">
                    <h5 class="showcase-heading">
                      <%= client.name %>
                    </h5>
                    <% if client.blurb == true %>
                      <%= partial 'work/blurbs/' + client.slug %>
                    <% else %>
                      <%= simple_format(lorem.paragraph) %>
                    <% end %>
                    <div class="showcase-tags">
                      <b>Tasks Performed</b>: <%= client.tags.join(', ') %>
                    </div>
                    <% if client.url %>
                      <div class="cta">
                        <%= link_to('» View Site', client.url, :class => 'cta-button', :target => '_blank') %>
                      </div>
                    <% end %>
                  </article>
                </div>
              <% else %>
                <div class="row">
                  <figure class="col-md-6">
                    <%= image_tag('work/' + client.slug + '.' + client.img_type, :class => 'img-responsive') %>
                  </figure>
                  <article class="col-md-5 pull-right">
                    <h5 class="showcase-heading">
                      <%= client.name %>
                    </h5>
                    <% if client.blurb == true %>
                      <%= partial 'work/blurbs/' + client.slug %>
                    <% else %>
                      <%= simple_format(lorem.paragraph) %>
                    <% end %>
                    <div class="showcase-tags">
                      <b>Tasks Performed</b>: <%= client.tags.join(', ') %>
                    </div>
                    <% if client.url %>
                      <div class="cta">
                        <%= link_to('» View Site', client.url, :class => 'cta-button', :target => '_blank') %>
                      </div>
                    <% end %>
                  </article>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </section>

    <section class="page-section page-section-contact">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="heading heading-primary">
              Contact
            </h2>
            <form class="contact-form" name="contact" action="thank-you">
              <div class="form-field">
                <label class="form-label">
                  First Name
                </label>
                <input type="text" name="first_name">
              </div>
              <div class="form-field">
                <label class="form-label">
                  Last Name
                </label>
                <input type="text" name="last_name">
              </div>
              <div class="form-field">
                <label class="form-label">
                  Email
                </label>
                <input type="email" name="email">
              </div>
              <div class="form-field">
                <label class="form-label">
                  Your message
                </label>
                <textarea name="message"></textarea>
              </div>
              <div class="form-field form-field-submit">
                <button class="button-submit">
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

