---
  title: Work
---

<% content_for :script do %>

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<% end %>

        <section class="page-section">
          <div class="container">

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <img class="d-block img-fluid" srcset="<%= image_path('home/slideshow-1.jpg') %> 375w, <%= image_path('home/slideshow-1.jpg') %> 1518w">
                </div>
                <div class="carousel-item">
                  <img class="d-block img-fluid" srcset="<%= image_path('home/slideshow-2.jpg') %> 375w, <%= image_path('home/slideshow-2.jpg') %> 1518w">
                </div>
                <div class="carousel-item">
                  <img class="d-block img-fluid" srcset="<%= image_path('home/slideshow-3.jpg') %> 375w, <%= image_path('home/slideshow-3.jpg') %> 1518w">
                </div>
              </div>
            </div>

          </div>
        </section>

        <% if false
          #visible_work.each.with_index do |client, i|
        %>
        <section class="page-section page-section-work" id="<%= client.slug %>">
          <div class="container">
            <div class="row">
              <div class="col-sm-3 col-md-3 col-lg-2">
                <dl class="work-info">
                  <dt class="work-info-dt">
                    Project
                  </dt>
                  <dd class="work-info-dd">
                    <%= client.name %>
                  </dd>
                  <% if client.internal_page_url %>
                    <dd class="work-info-dd">
                      <%= link_to_if(client.internal_page_url, '» View', client.internal_page_url, :class => 'link-unadorned') %>
                    </dd>
                  <% end %>
                </dl>
              </div>
              <div class="col-sm-8 col-sm-offset-1 col-md-9 col-md-offset-0 col-lg-10">
                <figure class="faq-graphic">
                  <div class="row">
                    <div class="col-md-8">
                      <%= image_tag('work/' + client.slug + '.png', :class => 'img-responsive') %>
                    </div>
                    <figcaption class="col-md-4 col-lg-3 col-lg-offset-1">
                      <div class="faq-graphic-caption faq-graphic-caption-noborder">
                        <% if client.blurb == true %>
                          <%= partial 'work/blurbs/' + client.slug %>
                        <% else %>
                          <p>
                            Full description of work coming soon.
                          </p>
                        <% end %>
                      </div>
                    </figcaption>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </section>
        <% end %>

