---
  title: Work
---



        <% 
          visible_work.each.with_index do |client, i|
        %>
        <section class="page-section page-section-work" id="<%= client.slug %>">
          <div class="container">
            <div class="row">
              <div class="col-sm-3 col-md-3 col-lg-2">
                <dl class="work-info">
                  <dt class="work-info-dt">
                    Project
                  </dt>
                  <dd class="work-info-dd">
                    <%= client.name %>
                  </dd>
                  <% if client.internal_page_url %>
                    <dd class="work-info-dd">
                      <%= link_to_if(client.internal_page_url, '» View', client.internal_page_url, :class => 'link-unadorned') %>
                    </dd>
                  <% end %>
                </dl>
              </div>
              <div class="col-sm-8 col-sm-offset-1 col-md-9 col-md-offset-0 col-lg-9 col-lg-offset-1">
                <figure class="faq-graphic">
                  <div class="row">
                    <div class="col-md-8">
                      <%= image_tag('work/' + client.slug + '.png', :class => 'img-responsive') %>
                    </div>
                    <figcaption class="col-md-4 col-lg-3 col-lg-offset-1">
                      <div class="faq-graphic-caption faq-graphic-caption-noborder">
                        <% if client.blurb == true %>
                          <%= partial 'work/blurbs/' + client.slug %>
                        <% else %>
                          <p>
                            Full description of work coming soon.
                          </p>
                        <% end %>
                      </div>
                    </figcaption>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </section>
        <% end %>

