<% content_for :title, skill.title %>
<% content_for :og_desc, skill.desc %>

    <header class="page-header">
      <div class="container-fluid container-fluid--maxwidth">
        <div class="row">
          <div class="col-xl-6">
            <div class="row justify-content-between">
              <div class="col-xl-8">
                <div class="page-header__title pr-xl-2">
                    <%= skill.title %>
                </div>
              </div>
              <div class="col-xl-3">
                <ul class="page-header__specs">
                  <% skill.specs.each do |spec| %>
                    <li><%= spec %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="page-header__blurb">
              <%= !skill.desc.blank? ? skill.desc : lorem.words(48) %> 
              <%= partial 'layouts/contact-prompt' %>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="page-section page-section--compact-top">
      <div class="container-fluid container-fluid--maxwidth mb-5">
        <%= image_tag('portfolio/' + skill.slug + '/page-hero.png', :class => 'img-fluid') %>
      </div>
      <div class="container text-center">
        <% if skill.slug == 'lx-writing' %>
          <div class="embed-responsive embed-responsive-16by9 mb-5">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/94Jk6w3iO_Q" allowfullscreen></iframe>
          </div>
          <div class="embed-responsive embed-responsive-16by9 mb-5">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VN4V4cEDtP8" allowfullscreen></iframe>
          </div>
        <% end %>

        <% unless skill.slug == 'lx-writing' %>
          <% 
            slug = skill.slug
            count = skill.images.length
            skill.images.each_with_index do |pic,i| %>
              <figure>
                <%= image_tag('portfolio/' + slug + '/pic' + (i+1).to_s + pic.ext, :class => (i+1) == count ? 'img-fluid' : 'img-fluid mb-5') %>
              </figure>
          <% end %>
        <% end %>

      </div>
    </section>

