<html><BODY BACKGROUND="<%= asset_path(:images, 'images/corsica/yellow_weave.gif') %>">
<CENTER>
<FONT SIZE=7 COLOR=BLACK>Day 4: Carozzu to Haut-Asco</FONT>
</CENTER>
<P>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD>
<FONT COLOR=YELLOW ALIGN=LEFT SIZE=5>
16 June 1998
</FONT>
<BR>
<FONT COLOR=BLACK ALIGN=LEFT SIZE=4>
After a good night's sleep, waking up is easy.  So it was that morning.  I had a very light breakfast (as usual) and hit the trail at about 0530h.  It was always nice to be first on the trail; it gave me the time to appreciate my surroundings in tranquility, even if it was obscure tranquility.
</TD>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/caromorn.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Early start from Carozzu</B></I>
</FONT>
</TD>
</TR>
</TABLE>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/spasim1.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Passerelle de Spasimata</B></I>
</FONT>
</TD>
<TD>
<FONT COLOR=BLACK ALIGN=LEFT SIZE=4>
Not long after leaving the refuge, I reached the <em>Passerelle de Spasimata</em>, a footbridge &agrave; la Indiana Jones.  I had been anxious to see it after having read and heard so much about it. I had first set eyes on it the day before, when a guide was taking his tour group across. Needless to say, I didn't want any part of the bridge as long as the group was there.  So, I saved the crossing for later, when I had the bridge to myself.
</TD>
</TR>
</TABLE>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD>
<FONT COLOR=BLACK ALIGN=LEFT SIZE=4>
It's an odd feeling when you're crossing a bridge and it's bobbing up and down, side to side with your every step.  Still, since the distance below wasn't terribly great, I never felt afraid or even thrilled.  But, I did watch my step&mdash;even my big feet didn't span some of those gaps! 
<P>Having crossed the bridge, I continued to follow the white/red blazes up some very treacherous ledges.  Several ledges had cables fastened to them, so as to give the hiker a handhold when the ledges were wet or icy.  I can't imagine passing over some of them when wet.  Forget it, if they were icy. 
<P>I easily made my way up to where I could see the breach through which I would have to pass. There were snowfields coating the steep slope leading to the breach&mdash;the first ones I would encounter.  I learned a great deal in negotiating them that day.  Most importantly, I learned that it's imperative not to start too early, for, until kissed by the sun, snowfields are sheets of inclined ice.  I chose my footholds <I>very</I> carefully and all the while maintained a rigid focus.
</TD>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/spasim2.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Hold on!</B></I>
</FONT>
</TD>
</TR>
</TABLE>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/stagni.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>View of Monte Cinto from Bocca a i Stagni</B></I>
</FONT>
</TD>
<TD>
<FONT COLOR=BLACK ALIGN=LEFT SIZE=4>
Finally, I reached the breach without incident; however, I was sufficiently impressed to reflect on the days ahead.  Where would I have to again traverse snowfields?  From my vantage point in the col, I could see that, were I to climb the nearby Monte Cinto as I had planned, I would have many such a field to cross.  But, since it was only 0730h and I had planned to do the Cinto the next day, I had plenty of time to weigh my options.
</TD>
</TR>
</TABLE>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD>
<FONT COLOR=BLACK ALIGN=LEFT SIZE=4>
The hot showers at Haut-Asco were quite a treat because everywhere else the water was cold. It was equally nice to do laundry in a big sink, even if I was using shampoo as detergent. I spent the better part of the morning just relaxing, sitting on the terrace, and drinking corsican beer...oh, did I mention eating?!  In order to prepare my skin for the intense sun on Monte Cinto, I sat out in the sun in the afternoon.
</TD>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/laundry.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Doing laundry at Haut-Asco</B></I>
</FONT>
</TD>
</TR>
</TABLE>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/solitude6.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Seductive summits</B></I>
</FONT>
</TD>
<TD>
<FONT COLOR=BLACK ALIGN=LEFT SIZE=4>
While preparing my skin for the Corsican sun, I reflected on the objective hazards one faces in the mountains: inclement weather, falling rocks, sketchy terrain, etc..  I spent a fair amount of time examining the snowfields and gathering info from hikers who had climbed that day.  The word from everyone was that I would definitely need ski poles.  I had none!<P>
I tried not to dwell on hazards too much, for mountains demand equal doses of respect and admiration. I felt as though my respect was unquestionable, so in-between brief snoozing sessions, I gazed at the mountains that lured me to this wonderous place.
<P>It was wise to spend a day off the trail.  Likewise, it was wise not to fret about not having poles.  Indeed, that evening while watching world cup soccer in the g&icirc;te's bar, the gregarious bartender not only gave me some ski poles to use for my ascent of Monte Cinto but also some ice cream free of charge.  Sapidly sedated, I dozed off shortly thereafter in the bunkroom below.
</TD>
</TR>
</TABLE>
<P>

<CENTER>
<A HREF="/corsica/corsica5/">
<IMG SRC="<%= asset_path(:images, 'images/corsica/blaze1.jpg') %>" HSPACE=10 BORDER="0"><br /></A>
</CENTER>

<CENTER>
<H6>
<A HREF="/corsica/">Introduction</A><BR>
<A HREF="/corsica/corsica1/">Paris-Calenzana (Day 1)</A><BR>
<A HREF="/corsica/corsica2/">Calenzana-Ortu di u Piobbu (Day 2)</A><BR>

<A HREF="/corsica/corsica3/">Ortu di u Piobbu-Carozzu (Day 3)</A><BR>
<A HREF="/corsica/corsica4/">Carozzu-Haut-Asco (Day 4)</A><BR>
<A HREF="/corsica/corsica5/">Monte Cinto (Day 5)</A>
</H6>
</CENTER>

</BODY></html>
