<html><BODY BACKGROUND="<%= asset_path(:images, 'images/corsica/yellow_weave.gif') %>">
<CENTER>
<FONT SIZE=7 COLOR=BLACK>Day 5: Monte Cinto</FONT>
</CENTER>
<P>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/cintoam.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Ready for Monte Cinto?</B></I>
</FONT>
</TD>
<TD>
<FONT COLOR=YELLOW ALIGN=LEFT SIZE=5>
17 June 1998 </FONT><BR>
<FONT COLOR=BLACK SIZE=4>
I was up late that morning because I wanted to allow time for the snowfields to be softened by the sun.  Everyone else in the g&icirc;te had left, so I enjoyed a quiet breakfast and a peaceful morning in general. 
<P>The trail from Haut-Asco started out rather easy.  Along the first part,
there were lots of laricio pines whose limbs grabbed at my vertically arranged ski poles. I cursed them and charged. 
<P>It took me a while to get used to the off-trail (non-GR20) blazes, as I had grown accustomed to the familiar white and red blaze of the GR.  Nevertheless, I managed to stick to the trail and find my way.
</FONT>
</TD>
</TR>
</TABLE>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD>
<FONT COLOR=BLACK SIZE=4>
When I emerged from the over-friendly pine forest, I could see the bridge where I would cross the Tighiettu stream and climb up towards Cinto's glacial cirque.  The water was running particularly fast, what with the sun-induced snowmelt and all. 
<P>It wasn't long after I had passed the bridge that I met up with an Austrian couple.  Only one of them spoke English, neither spoke French, and German was out of the question for me. So, English it was.  Since they were taking layers off, I went on by.  But I was amazed at how close behind me they remained.  They were already using their poles, in typically Austrian style.  When I reached the cirque and stopped for a water/sunscreen break, it wasn't long before they passed on by towards the steep, snowy slopes of the cirque.
</FONT>
</TD>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/cintopont.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Bridge over Tighiettu stream</B></I>
</FONT>
</TD>
</TR>
</TABLE>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/cintoslopes.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Don't slip!</B></I>
</FONT>
</TD>
<TD>
<FONT COLOR=BLACK SIZE=4>
Despite the presence of the sun, the snow-coated slopes were still icy and treacherous. The Austrian couple seemed to be moving along quite well&mdash;they were now ahead of me.  It was nice to be able to watch them and then follow in their footsteps (or choose safer ones).
<P>Though I knew the steepness of the slope would beggar photographic depiction, I snapped a picture anyway in a vain attempt to preserve the feelings of vertigo and fear.  The best way to maintain one's focus at times like these, however, is to forge onward, concentrating only on the next step.  That's what I did.
<P>It wasn't long before I had gained Cinto's shoulder.  There I met up with the confused Austrians, who thought they were at the summit.  I gave them the bad news, but they didn't seem to be disappointed.  We agreed to walk to the summit together, in spite of the communication difficulties (her English was functional at best).  It was nice to have company.
</FONT>
</TD>
</TR>
</TABLE>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD>
<FONT COLOR=BLACK SIZE=4>
On the way to the deceptively close summit, we lost the trail twice.  I was not as adventurous as the Austrian guy, who chose rock climbing instead of backtracking.  His girlfriend and I chose to backtrack and follow the proper route.  Before long, we all found ourselves nearing the sun-drenched peak, and our spirits began to lift...once at the summit, our spirits were further lifted by those inhabiting the tiny flask my Austrian amigos had stashed away for just such an occasion!
</FONT>
</TD>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/cintosummit.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Atop Monte Cinto (2710m)</B></I>
</FONT>
</TR>
</TABLE>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/cintoski.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>My bootsking traces</B></I>
</FONT>
</TD>
<TD>
<FONT COLOR=BLACK SIZE=4>
The trip down the mountain was relatively easy.  There were a few spots near the very top that were just as tricky as they had been on the way up.  But, all in all, the descent was easy, especially as the snowfields had defrosted.  The now mushy snow permitted me to bootski down the formerly treacherous slope with ease.  Compared to the agonizing thirty or so minutes of climbing I had on the way up, the five or six minutes it took to get down seemed almost too short.  Bootskiing was quite fun.
<P>After reaching the bottom of the cirque, I took a break where I had stopped earlier that day, making sure to take in some water even though I didn't feel the need.  Perhaps that very water fueled my sheer-terror-startle reflexes when, shortly thereafter, I narrowly dodged a rockslide that gave way just as I was leaving the cirque.  It was a very sobering experience, all the more so since I had thought the worst was behind me and the trip thenceforth wouldn't require much concentration.  I suppose the Cinto was just saying thank you and goodbye.
</FONT>
</TD>
</TR>
</TABLE>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD>
<FONT COLOR=BLACK SIZE=4>
In any case, there were no more rockslides after that.  I was looking forward to returning to the g&icirc;te because two world cup matches were being televised that night at the bar and I was in the mood to turn my brain off.  In-between the first and second match, I took a stroll up towards the former refuge d'Altore, stopping a kilometer short in order to watch the sunset on the Cinto massif.
<P>As I walked around up there, I realized that I was very content being alone.  I could take off when I wanted without notifying someone; I could stay out as long as I wanted without anyone worrying; and I could make changes in the itinerary without consulting someone. Of course, it was easy to find company, if I so chose.  Everything was so easy and relaxed compared to Paris.  The cottonball clouds punctuated my gossamer thoughts appropriately.
</FONT>
</TD>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/cintocotton.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Cottonball clouds in the evening</B></I>
</FONT>
</TD>
</TR>
</TABLE>

<P>

<CENTER>
<H6>
<A HREF="/corsica/">Introduction</A><BR>
<A HREF="/corsica/corsica1/">Paris-Calenzana (Day 1)</A><BR>
<A HREF="/corsica/corsica2/">Calenzana-Ortu di u Piobbu (Day 2)</A><BR>
<A HREF="/corsica/corsica3/">Ortu di u Piobbu-Carozzu (Day 3)</A><BR>
<A HREF="/corsica/corsica4/">Carozzu-Haut-Asco (Day 4)</A><BR>
<A HREF="/corsica/corsica5/">Monte Cinto (Day 5)</A>
</H6>

</CENTER>


</BODY></html>
