<html><BODY BACKGROUND="<%= asset_path(:images, 'images/corsica/yellow_weave.gif') %>">
<CENTER>
<FONT SIZE=7 COLOR=BLACK>Day 3: Ortu di u Piobbu to Carozzu</FONT>
</CENTER>
<P>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD>
<FONT COLOR=YELLOW ALIGN=LEFT SIZE=5>
15 June 1998
</FONT>
<BR>
<FONT COLOR=BLACK ALIGN=LEFT SIZE=4>
As I was anxious to escape the snoring chamber, I got up at 0500h.  It took some time for morning to arrive in the mountains, for the bulky massifs screened the sun from those engulfed within the valley.  But, it wasn't long before a soft light filled the sky. The trail wasn't tremendously difficult, even though it was cut into the southwestern slope of a ridge.  The ascent itself, however, was trying due to my packstrap-sore shoulders.<P>
Nonetheless, I reached the col dubbed <I>Bocca Piccaia</I> (1950m) before anyone else and thus had the view of the surrounding peaks and valleys to myself.  I
stripped off my pack and scrambled to the unnamed peak (2087m) just above, where I was afforded some fantastic views.
</TD>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/dawncol.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Heading toward Bocca Piccaia</I></B>
</FONT>
</TD>
</TR>
</TABLE>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/nasty2.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Weather turning nasty at Bocca Piccaia</B></I>
</FONT>
</TD>
<TD>
<FONT COLOR=BLACK ALIGN=LEFT SIZE=4>
I was also able to do a little weather forecasting and concluded that, given the swiftness of the clouds and their color, things were about to turn nasty.<P>
A New Hampshire native, I'm used to sudden changes in weather.  Even so, I was still impressed by just how quickly the weather took a turn for the worse there in the lofty peaks of Corsica.
</TD>
</TR>
</TABLE>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD ALIGN=LEFT>
<FONT COLOR=BLACK ALIGN=LEFT SIZE=4>
I zigzagged around the jagged crags of the <I>Bocca Avartoli</I> (1898m),
following the winding, hard-to-follow trail to the <I>Bocca Carozzu</I> (1865m), where I could look down and see the knee-gnawing screefield through which I would soon have to descend in order to reach the refuge below. 
<P>Though I had made good time from refuge d'Ortu di u Piobbu to refuge de Carozzu (1270m), I felt as though I had been hiking for much longer than I had.  My knees were indeed gnawed from the 600m, scree-filled descent and the weather had indeed turned nasty.  But, since the rain provided me with a free rinse-cycle for my stinky clothes, it wasn't all that bad.
</TD>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/carozzu.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Refuge de Carozzu (1270m)</B></I>
</FONT>
</TD>
</TR>
</TABLE>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/sunset1.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Sun beginning to set at Carozzu</B></I>
</TD>
<TD ALIGN=LEFT>
<FONT COLOR=BLACK SIZE=4>
That evening at the refuge I ate like a monster.  I probably had something like five or so meals.  With all that food in me, it was easy to sit back and watch the day come to an end. From the porch of the refuge, everyone could sit and face the sea to watch the clouds clear out and the sunset move in.
</FONT>
</TD>
</TR>
</TABLE>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD ALIGN=LEFT>
<FONT COLOR=BLACK SIZE=4>
Red sky at night...<P>
Steve's delight<P>
It was a beautiful way to end the day.  I slept well that night.
</TD>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/sunset4.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Sunset</B></I>
</FONT>
</TD>
</TR>
</TABLE>
<P>

<CENTER>
<A HREF="/corsica/corsica4/">
<IMG SRC="<%= asset_path(:images, 'images/corsica/blaze1.jpg') %>" HSPACE=10 BORDER="0"><br /></A>
</CENTER>

<CENTER>
<H6>
<A HREF="/corsica/">Introduction</A><BR>
<A HREF="/corsica/corsica1/">Paris-Calenzana (Day 1)</A><BR>
<A HREF="/corsica/corsica2/">Calenzana-Ortu di u Piobbu (Day 2)</A><BR>
<A HREF="/corsica/corsica3/">Ortu di u Piobbu-Carozzu (Day 3)</A><BR>
<A HREF="/corsica/corsica4/">Carozzu-Haut-Asco (Day 4)</A><BR>

<A HREF="/corsica/corsica5/">Monte Cinto (Day 5)</A>
</H6>
</CENTER>

</BODY></html>
