<html><BODY BACKGROUND="<%= asset_path(:images, 'images/corsica/yellow_weave.gif') %>">
<CENTER>
<FONT SIZE=7 COLOR=BLACK>Day 1: Paris to Calenzana</FONT>
</CENTER>
<P>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/steve1.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3 ALIGN=CENTER>
<I><B>Early a.m. at my apt. in Paris</B></I>
</FONT>
</TD>
<TD>

<FONT COLOR=YELLOW ALIGN=RIGHT SIZE=5>
13 June 1998
</FONT>
<BR>
<FONT COLOR=BLACK ALIGN=LEFT SIZE=4 FACE=BOOKMAN>
At 0515h I was awakened by the lovely chirp of my alarm clock, and by 0600h I was ready to go.  The ensuing metro/RER ride to Orly was pleasantly uneventful, so I recorded some thoughts in my journal.  Once at the airport, however, things became unpleasantly eventful and hectic.  Fortunately, I managed to squirm out from under the thick, scratchy blanket of confusion (specific to both parisian airports) and board AirLibert&eacute; flight #5566 for Calvi at 0730h.  During the flight, I was treated to glimpses of the still snowy crests of the Alps.<P>
Fifteen-thousand feet below, Mt. Blanc's eastern shoulder wore a warm orange light, as though dawn had fashioned a smooth, lambent skin to soften the massif's rocky musculature.  Though it was June 15th, the Alps were still firmly within winter's grasp.  Snow lingered on summits and ridges.  I wondered whether Corsica's crags would be equally crystalline.  Since it was June and since Corsica was an island in the Mediterranean, I seriously doubted it.
</TD>
</TR>
</TABLE>
<BR CLEAR=LEFT>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>

<TD>
<FONT COLOR=BLACK ALIGN=LEFT SIZE=4 FACE=BOOKMAN>
I was wrong!<P>
As the plane approached Calvi's frighteningly short "runway," I realized that snow did indeed linger in the Corsican mountains in spite of their austral setting.  At the time, I didn't give it much thought, though, for the sheer foothills encircling the thin tongue of asphalt onto which we were about to touch down had me bedazzled.  These hills were singularly steep!  My stomach knotted with excitement, I sat back for what promised to be a very delicate landing.
</TD>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/airport.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>"Runway" in Calvi</B></I>
</FONT>
</TD>
</TR>
</TABLE>
 <BR CLEAR=RIGHT>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/taxi.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Taxi corral at airport</B></I>
</FONT>
</TD>
<TD>
<FONT COLOR=BLACK ALIGN=LEFT SIZE=4 FACE=BOOKMAN>
Once safely on <EM>terra firma</EM> at Calvi's airport,
I was able to gaze upon the mountains I would soon traverse.  I couldn't dally, though, because I needed to get to Calenzana, where the GR20 begins.
Since Calvi's airport was neither close to the village of Calenzana nor served by a system of public transportation, I was forced to choose between
walking, hitchhiking, or taking a taxi.<P>

I chose the latter, for the
cowboy-clad taxi driver  made me feel at home (just kidding).
Fifteen kilometers and 130francs later, I arrived at the g&icirc;te d'&eacute;tape in
Calenzana.
</TD>
</TR>
</TABLE>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD>
<FONT COLOR=BLACK ALIGN=LEFT SIZE=4 FACE=BOOKMAN>
Forged into the surrounding hills, about 30km from the sea, Calenzana is a village of steep and narrow streets, whose only traffic comes from mopeds and the feet of its 1 800 inhabitants.  Both in and around the village, these streets make for interesting sightseeing.<P>
Still, there are only so many steep and narrow streets one can see before becoming slightly bored in Calenzana.  In order to stave off the boredom, I took a short nap in front of the town hall (only to be awakened by a tourbus of Germans), shopped for the next few days' food, re-positioned my tent under a tree (the clouds were threatening rain), and took several walks.
During my walks I was able to watch and photograph the intermingling of celestial and terrestial spheres from my inferior position below.
</TD>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/calen4.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Clouds over Calenzana</B></I>
</FONT>
</TR>
</TABLE>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/calen5.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Retreat of the clouds</B></I>
</FONT>
</TD>
<TD>
<FONT COLOR=BLACK ALIGN=LEFT SIZE=4 FACE=BOOKMAN>
In-between taking photos and watching the menacing clouds slowly retreat whence they came, I jotted down a few thoughts on the upcoming hike:

<EM>Going to be weird&mdash;two weeks of solo hiking.  True, it's not total isolation-type solitude, but neverthless, we'll see how it affects me.</EM>
What I didn't know when I expressed this concern was that what lay ahead of me on the GR20 was anything but "total isolation-type solitude."  What lay ahead of me was, to the contrary, the society of some of the nicest people I've met.
</TD>
</TR>
</TABLE>
<P>

<CENTER>
<A HREF="/corsica/corsica2/">
<IMG SRC="<%= asset_path(:images, 'images/corsica/blaze1.jpg') %>" HSPACE=10 BORDER="0"><br /></A>
</CENTER>

<CENTER>
<H6>
<A HREF="/corsica/">Introduction</A><BR>
<A HREF="/corsica/corsica1/">Paris-Calenzana (Day 1)</A><BR>

<A HREF="/corsica/corsica2/">Calenzana-Ortu di u Piobbu (Day 2)</A><BR>
<A HREF="/corsica/corsica3/">Ortu di u Piobbu-Carozzu (Day 3)</A><BR>
<A HREF="/corsica/corsica4/">Carozzu-Haut-Asco (Day 4)</A><BR>
<A HREF="/corsica/corsica5/">Monte Cinto (Day 5)</A>
</H6>
</CENTER>

</BODY></html>
