<html><BODY BACKGROUND="<%= asset_path(:images, 'images/corsica/yellow_weave.gif') %>">
<CENTER>
<FONT SIZE=7 COLOR=BLACK>Day 2: Calenzana to Ortu di u Piobbu</FONT>
</CENTER>
<P>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD>
<FONT COLOR=YELLOW ALIGN=LEFT SIZE=5>
14 June 1998 <BR>
<FONT COLOR=BLACK SIZE=4>
Rain never materialized during the night.  Still, I didn't sleep
very well because my tent was too small for my feet&mdash;it was a French tent!  I decided to hit the trail early in order to secure a more spacious bed at Ortu di u Piobbu, the first hut on the GR20.
<P>My crepescular company consisted of M. Isnard, caretaker of the g&icirc;te, and a group of German teenagers.  The teens were the first to hit the trail (around 0515h).  They had obviously practiced breaking camp before, for no amateur troop of hikers could make that much noise.  No one on site was spared their carefully rehearsed din. M. Isnard, on the other hand, moved about with feline-like stealth that morning. He too had obviously practiced his early morning man&#339;uvres, setting the table, cutting baguettes, and even stopping to pose for photos with the grace and skill of a Ritz Hotel concierge.
</TD>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/gite1.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>M. Isnard in Calenzana</B></I>
</FONT>
</TD>
</TR>
</TABLE>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/church.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Church at trailhead</B></I>
</FONT>
</TD>
<TD>
<FONT COLOR=BLACK SIZE=4>
When the sun peeked over the ridge, it was time to get started.  The moon was still out&mdash;as it would be each morning during most of my trip&mdash;and thus provided me with another luminescent companion.  As I made my way up the steep streets, I worried over details:<P>
Had I forgotten something?<BR>
Would I be prepared for late snowfields?<BR>
Was I tough enough?<P>
Just before reaching the trailhead, I passed by a cute little church and wondered whether an expression of piety would help allay my worries.  But then I remembered that I didn't believe in God.  At the trailhead, I decided to leave my worries behind and just concentrate on my footsteps.  It was actually quite easy.
</FONT>
</TD>
</TR>
</TABLE>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD>
<FONT COLOR=BLACK ALIGN=LEFT SIZE=4>
The first section of the trail took me through several different zones of vegetation.  In one zone, the vegetation was so thick I thought I might need a machete to slice my way through (and perhaps even as protection against snakes).  In another, a species of shrub emitted a maple-syrup type scent, reminding me of
New England and pancakes.  Filled with sweet memories, I advanced until my path was blocked by a rather stubborn bull-cow.  Fortunately, my trailmate was as docile as he was intransigent, and so I was allowed to pass without incident.
<P>Though only containing 12-13kgs., my backpack weighed heavily on both my shoulders and mind.  I knew that I was lighter than most everyone else I had met at the g&icirc;te, and I couldn't imagine what the first leg of the trek must have felt like to them.   Still, I was moving much slower than I usually did and was therefore slightly discouraged that the landmarks on the map took their time in reaching me.  Thankfully, I hadn't planned out an excruciating itinerary.
</TD>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/cow.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Trailmate</B></I>
</FONT>
</TD>
</TR>
</TABLE>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/shelter.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Shelter at Bocca a u Saltu</B></I>
</FONT>
</TD>
<TD>
<FONT COLOR=BLACK ALIGN=LEFT SIZE=4>
At around 8:45h, I finally reached the col called <I>Bocca a u Saltu</I>(1250m).  It was a good place to stop for a snack, especially since someone had erected a little rock wall to shield against the wind.  When I arrived in Corsica, there had been gusts of up to 150km/hr., which was enough to force the SNCM ferry from Nice to cancel their service for the day.  Though the gusts I encountered weren't nearly that strong, they were still strong enough to sweep away the sun's warmth.
</TD>
</TR>
</TABLE>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD>
<FONT COLOR=BLACK ALIGN=LEFT SIZE=4>
So, I put on my anorak and munched on some <em>boquet de foie</em> sanwiches and chocolate bars.  Then, after a shirt-change and an application of sunscreen,
I hit the trail again...or so I thought.<P>
It only took me about five minutes to figure out that I had taken the wrong trail, but it took me another five to regain it and then another ten to get going in the right direction.  Good thing I didn't try to bushwack!
</TD>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/eating.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Boquet de foie sandwich at Bocca a u Saltu</B></I>
</FONT>
</TD>
</TR>
</TABLE>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/hut.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>Refuge Ortu di u Piobbu</B></I>
</FONT>
</TD>
<TD>
<FONT COLOR=BLACK ALIGN=LEFT SIZE=4>
Finishing the hike with three parisian guys "&Agrave; la recherche des filles," I arrived at refuge Ortu di u Piobbu just after 1300h.  Later in the afternoon, I walked up to the col named <I>Bocca di Tartaghjine</I> (1852m).  The col served as a corridor for the wind, which was passing from one coast to the other; as a result, I could hardly stand up straight, for the wind threatened to blow me down and off the mountain.
</TD>
</TR>
</TABLE>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD ALIGN=CENTER>
<FONT COLOR=BLACK ALIGN=LEFT SIZE=4>
I spent only a few moments at the col, opting instead to spend the rest of the afternoon and evening in the tranquility of the refuge, where I was the first to stake claim to a bed.  For a fleeting moment, I dreamed that I would be alone in the refuge, but...AU CONTRAIRE!  That night, I would have elbow to elbow roommates, two of whom snored the night away.  Once again, I slept poorly.
</TD>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/bunks.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3>
<I><B>The bunk not taken</B></I>
</FONT>
</TD>
</TR>
</TABLE>
<P>

<CENTER>
<A HREF="/corsica/corsica3/">
<IMG SRC="<%= asset_path(:images, 'images/corsica/blaze1.jpg') %>" HSPACE=10 BORDER="0"><br /></A>
</CENTER>

<CENTER>
<H6>
<A HREF="/corsica/">Introduction</A><BR>
<A HREF="/corsica/corsica1/">Paris-Calenzana (Day 1)</A><BR>
<A HREF="/corsica/corsica2/">Calenzana-Ortu di u Piobbu (Day 2)</A><BR>
<A HREF="/corsica/corsica3/">Ortu di u Piobbu-Carozzu (Day 3)</A><BR>
<A HREF="/corsica/corsica4/">Carozzu-Haut-Asco (Day 4)</A><BR>

<A HREF="/corsica/corsica5/">Monte Cinto (Day 5)</A>
</H6>
</CENTER>

</BODY></html>
