<html><BODY BACKGROUND="<%= asset_path(:images, 'images/corsica/yellow_weave.gif') %>">
<CENTER>
<FONT SIZE=7 COLOR=BLACK>GR20: Europe's Hardest Footpath</FONT>
</CENTER>
<P>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/falls.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3 ALIGN=CENTER>
<I><B>La montagne corse</B></I>
</FONT>
</TD>
<TD>

<FONT ALIGN=LEFT COLOR=BLACK SIZE=4 FACE=BOOKMAN>
<font size="+5" face="Palatino, Times, Times New Roman, serif" color=black>I</font>t wasn't because I disliked Paris that I chose not to spend the last two weeks of my year-long sojourn there; to the contrary, while studying in France's first city, I had become wholly enamored of its <em>arcades</em>, <em>jardins</em>, <em>caf&eacute;s</em>, and <em>libraries</em>.  Indeed, it was in one of its cozy, overstuffed bookstores, La Librarie des Alpes, that the idea for my last European trek was born.  While musing over the store's  mountaineering fare, I came across a guidebook whose cover photo revealed a rude, spiteful-looking chain of sun-scorched mountains.  Naturally, I was curious.
<P>Much to my surprise, this was neither a guidebook for the Alps nor one for the Pyr&eacute;n&eacute;es.  As its cover allowed, it was for anyone wanting to trek <em>A travers la montagne corse</em>.  The guidebook's cover photo certainly made me want to trek "across the Corsican mountains."  And so it was that, during my final European fortnight, I forsook the City of Lights for the sunny isle's seductive summits.<P>

</font></TD>
</TR>
</TABLE>
<BR CLEAR=LEFT>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD>
<FONT ALIGN=RIGHT COLOR=BLACK SIZE=4 FACE=BOOKMAN>
Before coming to Paris, I, like most Americans, had no idea that France possessed 2000+ meter peaks outside the Alps and Pyr&eacute;n&eacute;es.  More embarrassingly, I had no idea that France was in possession of a small Mediterranean island named Corsica.  But, it didn't take long for me to realize that there existed a rugged slab of seaborne rock over which the French flag happened to fly&mdash;nor did it take long to surmise that some of its inhabitants resented this fact.  Though it had spawned Napoleon Bonaparte III, one of the more clich&eacute;d symbols of <em>La R&eacute;publique fran&ccedil;aise</em>, Corsica was, for some natives, decidedly NOT French.  This feeling of resentment for the mother country, as well as the tension it engendered, was expressed sometimes by way of graffiti and sometimes more coercively by way of violence.  In fact, not long before my arrival, the latter means was employed to assassinate the then governor of the isle, Erignac.<P>

However, in as much as Corsica was shrouded by political problems, it was illuminated by an iridescent natural beauty, as though (by dint of an organic will) it were struggling to eclipse the pall of politics.  The finest showcase for that radiance was not its sandy beaches, but rather its renown footpath, the GR20.
</font>
</TD>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/corsica.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3 ALIGN=CENTER>
<I><B>Corsica</B></I>
</FONT>
</TD>
</TR>
</TABLE>
<BR CLEAR=RIGHT>

<TABLE ALIGN="CENTER" WIDTH="800">
<TR>
<TD ALIGN=CENTER>
<IMG SRC="<%= asset_path(:images, 'images/corsica/manganu3.jpg') %>" HSPACE=10><br />
<FONT COLOR=PURPLE SIZE=3 ALIGN=CENTER>

<I><B>Corsica's spirey spine</B></I>
</FONT>
</TD>
<TD>
<FONT ALIGN=LEFT COLOR=BLACK SIZE=4 FACE=BOOKMAN>
Vaulting skyward nearly 9,000 feet, Corsica's stegosaurus-like spine is home to several trails.  The most notable of these is the GR20, which snakes diagonally across Corsica for 125 miles from the northwest to the southeast.  The GR20 is one of France's <em>Grandes Randonn&eacute;es</em>, a series of "great treks" designed to highlight the <em>sportif</em> or <em>culturel</em> value of the regions they traverse.  There are GRs for Paris, GRs for the coasts, and GRs for the mountains.  All told, there are roughly 37,000 miles of trails in the GR network and at least one trail for every ability.  With its reputation as one of the most grueling trails in Europe, the GR20 was the <em>sportif</em> "great trek" for me.<P>

</font></TD>
</TR>
</TABLE>
<P>

<CENTER>
<A HREF="/corsica/corsica1/">
<IMG SRC="<%= asset_path(:images, 'images/corsica/blaze1.jpg') %>" HSPACE=10 BORDER="0"><br /></A>
</CENTER>

<CENTER>
<H6>
<A HREF="/corsica/">Introduction</A><BR>
<A HREF="/corsica/corsica1/">Paris-Calenzana (Day 1)</A><BR>
<A HREF="/corsica/corsica2/">Calenzana-Ortu di u Piobbu (Day 2)</A><BR>

<A HREF="/corsica/corsica3/">Ortu di u Piobbu-Carozzu (Day 3)</A><BR>
<A HREF="/corsica/corsica4/">Carozzu-Haut-Asco (Day 4)</A><BR>
<A HREF="/corsica/corsica5/">Monte Cinto (Day 5)</A>
</H6>
</CENTER>

</BODY></html>
