---
  title: Products
---

    <div class="page-section">
      <div class="container">

        <div class="row justify-content-center mb-5">
          <div class="col-lg-10 col-xl-8">
            <h2 class="page-section__heading text-center">
              <span>Products</span>
            </h2>
            <p class="page-section__lead text-center">
              During the past few years, I've sifted through maps and tables looking for compelling stories in data. Below are a few examples of what I've found.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <a href="/products/periodic-table-of-ski-resorts-california" class="product product--periodic-ski-cali">
              <%= image_tag('work/periodic-ski-cali-showcase.jpg', :class => 'product__img') %>
              <div class="d-flex align-items-center justify-content-center product__info p-5">
                <p class="p-2">
                  Periodic Table of Ski Resorts: California
                </p>
              </div>
            </a>
            <a href="/products/periodic-table-of-ski-resorts-colorado" class="product product--periodic-ski-co">
              <%= image_tag('work/periodic-ski-co-showcase.jpg', :class => 'product__img') %>
              <div class="d-flex align-items-center justify-content-center product__info p-5">
                <p class="p-2">
                  Periodic Table of Ski Resorts: Colorado
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-6">
            <a href="/products/topographic-fingerprints-of-the-four-thousand-footers" class="product product--new product--fingerprints">
              <%= image_tag('work/fingerprints-showcase.jpg', :class => 'product__img') %>
              <div class="d-flex align-items-center justify-content-center product__info p-5">
                <p class="p-2">
                  Topographic Fingerprints of the Four-Thousand Footers
                </p>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <a href="/products/white-mountain-4000-footers-passport" class="product product--wm48">
              <%= image_tag('work/passport-showcase.jpg', :class => 'product__img') %>
              <div class="d-flex align-items-center justify-content-center product__info p-5">
                <p class="p-2">
                  White Mountain 4000-Footers Passport
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-6">
            <a href="/products/new-hampshire-52-with-a-view-passport" class="product product--nh52">
              <%= image_tag('work/nh52-passport-showcase.jpg', :class => 'product__img') %>
              <div class="d-flex align-items-center justify-content-center product__info p-5">
                <p class="p-2">
                  New Hampshire 52 With A View Passport
                </p>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <a href="/products/undercast-approaches-to-the-white-islands-of-new-hampshire" class="product product--new product--undercast-approaches">
              <%= image_tag('work/undercast-approaches-showcase.jpg', :class => 'product__img') %>
              <div class="d-flex align-items-center justify-content-center product__info p-5">
                <p class="p-2">
                  Undercast Approaches to the White Isles of New Hampshire
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-6">
            <a href="/products/periodic-table-of-white-mountain-4000-footers" class="product product--wm-periodic">
              <%= image_tag('work/periodic/poster-pic-bottom.jpg', :class => 'product__img') %>
              <div class="d-flex align-items-center justify-content-center product__info p-5">
                <p class="p-2">
                  Periodic Table of White Mountain 4000-Footers
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

