<% content_for :title, product.title %>
<% content_for :og_desc, product.desc %>
<% content_for :og_img, 'https://withbr.io/images/og/' + product.slug + '.png' %>



    <header class="page-header">
      <div class="container-fluid container-fluid--maxwidth">
        <div class="row">
          <div class="col-xl-6">
            <div class="row justify-content-between">
              <div class="col-xl-8">
                <div class="page-header__title pr-xl-2">
                    <%= product.title %>
                </div>
              </div>
              <div class="col-xl-3">
                <ul class="page-header__specs">
                  <% product.specs.each do |spec| %>
                    <li><%= spec %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="page-header__blurb">
              <%= product.blurb %>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="page-section page-section--compact-top">
      <div class="container-fluid container-fluid--maxwidth">
        <%= image_tag('products/' + product.slug + '/' + product.slug + "-page-hero.jpg", :class => 'img-fluid') %>
      </div>
    </section>

    <section class="page-section page-section--compact-top">
      <div class="container text-center">
        <% 
          slug = product.slug
          count = product.images.length
          product.images.each_with_index do |pic, i| %>
            <%= image_tag('products/' + slug + '/pic' + (i+1).to_s + pic.ext, :class => (i+1) == count ? 'img-fluid' : 'img-fluid mb-5') %>
        <% end %>
      </div>
    </section>

    <section class="page-section page-section--compact-top">
      <div class="container">
        <div class="row justify-content-md-between mb-5">
          <div class="col-12 col-lg-6">
            <dl class="list-more text-lg-right">
              <dt>Available at:</dt>
              <% product.retailers.each do |retailer| %>
                  <dd><%= retailer.url ? link_to(retailer.name, retailer.url, :target => '_blank') : retailer.name %></dd>
              <% end %>
            </dl>
          </div>
        </div>

        <div class="row justify-content-md-between">
          <div class="col-12 col-lg-6 ml-lg-auto">
            <dl class="list-more">
              <dt>
                More Products
              </dt>
              <%
                  current_page = product.slug
                  leftovers = data.products.select{|item| item.slug != current_page}
                  leftovers.each do |product|
              %>
                <dd>
                  <%= link_to(product.title, '/products/' +  product.uri, :class => 'showcase__link') %>
                </dd>
              <% end %>
            </dl>
          </div>
        </div>

      </div>
    </section>
