---
  title: Thanks for Contacting Me!
---


    <header class="page-header">
      <div class="container-fluid container-fluid--maxwidth">
        <div class="row">
          <div class="col-lg-6">
            <div class="row justify-content-between">
              <div class="col-lg-8">
                <div class="page-header__title">
                    Thank you!
                </div>
              </div>
              <div class="col-lg-3">
                <ul class="page-header__specs">
                  <li><%= mail_to('steve@withbr.io') %></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="page-header__blurb">
              Thanks for taking time to reach out. I'll get back to you as soon as possible. Until then, have a relaxing day!
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="page-section">
      <div class="container-fluid container-fluid--maxwidth">
        <div class="row justify-content-center">
          <div class="col align-self-center d-none d-sm-block d-md-block d-lg-block">
            <%= image_tag('about/about1.jpg', :class => 'img-fluid') %>
          </div>
          <div class="col align-self-start d-none d-lg-block">
            <%= image_tag('about/about2.jpg', :class => 'img-fluid') %>
          </div>
          <div class="col align-self-end pt-lg-5">
            <%= image_tag('about/about3.jpg', :class => 'img-fluid') %>
          </div>
          <div class="col align-self-center d-none d-xl-block">
            <%= image_tag('about/about4.jpg', :class => 'img-fluid') %>
          </div>
        </div>
      </div>
    </section>


