
    <section class="page-section page-section-alt">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <article class="teaser-text text-centered">
                <p>
                  <b>Hi! I'm Steve.</b> With Brio is my tiny home on the outskirts of tech town. Please, come in! Whether you're building a Rails app or a brochure website, I can take your idea from grayscale wires to vector graphics to git repos, or I can just jump in where you need me. I've had the good fortune of working with stellar clients big and small, a few of whom are featured below.
                </p>
              </article>
              <figure class="table-row table-row-brand">
                <div class="table-cell table-cell-brand">
                  <%= image_tag('brands/cartalk.svg', :height => '80') %>
                </div>
                <div class="table-cell table-cell-brand">
                  <%= image_tag('brands/big-boulder.svg', :height => '100') %>
                </div>
                <div class="table-cell table-cell-brand">
                  <%= image_tag('brands/cfp.svg', :height => '80') %>
                </div>
                <div class="table-cell table-cell-brand">
                  <%= image_tag('brands/gnip.svg', :height => '60') %>
                </div>
              </figure>
            </div>
          </div>
        </div>
    </section>

    <section class="page-section page-section-decorative page-section-work">
      <div class="container">
        <div class="strings"></div>
        <div class="bobbles"></div>
        <div class="table-row">
          <article class="table-cell table-cell-article">
            <h2 class="heading heading-primary">
              Periodic Table of White Mountain 4000-Footers
            </h2>
            <p>
              I recently produced an 18x24" poster organizing New Hampshire's 4000-Foot Peaks into something vaguely resembling the periodic table. I normally work on the web, so I found the rigors of print design terrifying yet thrilling, especially the imperative to get it right the first time.
            </p>
            <p>
              <%= link_to('» Read More', '/periodic-table-of-white-mountain-4000-footers/', :class => 'link-standalone') %>
            </p>
          </article>
          <figure class="table-cell table-cell-figure">
            <div class="callout">
              <%= link_to(image_tag('periodic/poster-screenshot.jpg', :class => 'img-responsive'), '/periodic-table-of-white-mountain-4000-footers/', :class => 'link link-standalone') %>
            </div>
          </figure>
        </div>
      </div>
    </section>

    <section class="page-section page-section-alt page-section-contact">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="heading heading-primary">
              Contact
            </h2>
            <form class="contact-form" name="contact" action="thank-you">
              <div class="form-field">
                <label class="form-label">
                  First Name
                </label>
                <input type="text" name="first_name">
              </div>
              <div class="form-field">
                <label class="form-label">
                  Last Name
                </label>
                <input type="text" name="last_name">
              </div>
              <div class="form-field">
                <label class="form-label">
                  Email
                </label>
                <input type="email" name="email">
              </div>
              <div class="form-field">
                <label class="form-label">
                  Your message
                </label>
                <textarea name="message"></textarea>
              </div>
              <div class="form-field form-field-submit">
                <button class="button-submit">
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
