
<div class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <p class="page-section__lead text-center">
          Howdy! I'm Steve. I rummage through familiar data sets in search of compelling stories, which is to say I geek out on things I enjoy and share them with kindred spirits. Like-minded geek or not, thank you for dropping by!
        </p>
        <div class="text-center mt-5">
          <a href="/work/" class="btn btn-outline-dark">
            View My Products
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="page-section page-section--photo">
  <div class="container">
    <%= link_to(image_tag('home/periodic-ski.jpg', :class => 'img-fluid'), '/work/') %>
  </div>
</div>


<div class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <h2 class="page-section__heading text-center">
          <span>About Me</span>
        </h2>
        <p class="page-section__lead text-center">
          I'm a dad. I'm a husband. I'm a New Hampshire native with a Colorado problem. The first album I owned was Blondie's <i>Autoamerican</i>. I recently put on two different shoes, walked around an apple orchard, and failed to notice. 
        </p>
      </div>
    </div>
  </div>
</div>


<div class="page-section page-section--photo">
  <div class="container-fluid" style="max-width: 1600px;">
    <div class="row justify-content-center">
      <div class="col align-self-center d-none d-sm-block d-md-block d-lg-block">
        <%= image_tag('home/home1.jpg', :class => 'img-fluid') %>
      </div>
      <div class="col align-self-start d-none d-lg-block">
        <%= image_tag('home/home2.jpg', :class => 'img-fluid') %>
      </div>
      <div class="col align-self-end pt-lg-5">
        <%= image_tag('home/home3.jpg', :class => 'img-fluid') %>
      </div>
      <div class="col align-self-center d-none d-xl-block">
        <%= image_tag('home/home4.jpg', :class => 'img-fluid') %>
      </div>
    </div>
  </div>
</div>

