
<div class="page-section page-section--photo page-section--hero">
  <div class="container">
    <figure class="hero-wrapper">
      <%= image_tag('home/periodic-ski.jpg', :class => 'img-fluid') %>
  <% if false %>
      <img srcset="elva-fairy-320w.jpg 320w,
                   elva-fairy-480w.jpg 480w,
                   elva-fairy-800w.jpg 800w"
           sizes="(max-width: 320px) 280px,
                  (max-width: 480px) 440px,
                  800px"
           src="periodic-ski.jpg" alt="Periodic Table of Ski Resorts: California">
  <% end %>
    </figure>
  </div>
</div>

<div class="page-section page-section--text">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <h2 class="page-section__heading text-center">
          <span>Howdy!</span>
        </h2>
        <p class="page-section__lead">
          I'm Steve. I rummage through familiar data sets in search of compelling stories, which is to say I geek out on things I enjoy and <a href="/work/">share them</a> with kindred spirits. Like-minded geek or not, thank you for dropping by!
        </p>
      </div>
    </div>
  </div>
</div>

<div class="page-section page-section--photo text-center">
  <div class="container-fluid" style="max-width: 1600px;">
    <div class="row">
      <div class="col align-self-center d-none d-md-block d-lg-block">
        <%= image_tag('home/home1.jpg', :class => 'img-fluid') %>
      </div>
      <div class="col align-self-start d-none d-lg-block">
        <%= image_tag('home/home2.jpg', :class => 'img-fluid') %>
      </div>
      <div class="col align-self-end pt-lg-5">
        <%= image_tag('home/home3.jpg', :class => 'img-fluid') %>
      </div>
      <div class="col align-self-center d-none d-xl-block">
        <%= image_tag('home/home4.jpg', :class => 'img-fluid') %>
      </div>
    </div>
  </div>
</div>

<div class="page-section page-section--text">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <h2 class="page-section__heading text-center">
          <span>About Me</span>
        </h2>
        <p class="page-section__lead">
          I'm a dad. I'm a husband. I'm a New Hampshire native with a Colorado problem. I trail run, hike, and bike. The first album I owned was Blondie's <i>Autoamerican</i>. This past winter, I just managed to complete a <a href="http://www.48in1winter.com/home.shtml">SSW48</a>. I recently put on two different shoes and walked around an apple orchard for fifteen minutes without noticing. 
        </p>
      </div>
    </div>
  </div>
</div>
