
<% content_for :script do %>
    <script>
      $('.showcase-block').each(function(){
          var self = $(this);
          $(this).waypoint({
               offset: '50%',
               handler: function(){
                   self.addClass('viewed');
               },
          });
      })
    </script>
<% end %>

<section class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <p class="text-center">
          Hi! I'm Steve. I sift through maps and tables looking for compelling stories in data.
        </p>
      </div>
    </div>
    <div class="text-center mt-2 mb-5">
      <a href="/products/" class="btn btn-outline-dark">
        View My Products
      </a>
    </div>
    <div class="showcase-block text-center">
      <a href="/products/" class="d-block">
        <% data.products.each do |product| %>
          <%= image_tag('products/' + product.slug + '/' + product.slug + '-showcase.png', :class => 'showcase-block__img ' + product.slug) %>
        <% end -%>
      </a>
    </div>
  </div>
</section>


<section class="page-section">
  <div class="container mb-3">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <h2 class="page-section__heading">
          <span>About Me</span>
        </h2>
        <p class="text-center">
          I'm a dad. I'm a husband. I'm a New Hampshire native with a Colorado problem. I work <a href="/products/">in print</a> and <a href="/web/">on the web</a>.
        </p>
      </div>
    </div>
  </div>
  <div class="container-fluid container-fluid--maxwidth">
    <div class="row justify-content-center">
      <div class="col align-self-center d-none d-sm-block d-md-block d-lg-block">
        <%= image_tag('about/about1.jpg', :class => 'img-fluid') %>
      </div>
      <div class="col align-self-start d-none d-lg-block">
        <%= image_tag('about/about2.jpg', :class => 'img-fluid') %>
      </div>
      <div class="col align-self-end pt-lg-5">
        <%= image_tag('about/about3.jpg', :class => 'img-fluid') %>
      </div>
      <div class="col align-self-center d-none d-xl-block">
        <%= image_tag('about/about4.jpg', :class => 'img-fluid') %>
      </div>
    </div>
  </div>
</section>

