
<% content_for :script do %>
  <script>
    $(function() {
      setTimeout(function () {
        $('.logo').addClass('logo-green');
        $('.logo').removeClass('logo-red');
        setTimeout(function () {
          $('.logo').addClass('logo-blue');
          $('.logo').removeClass('logo-green');
          setTimeout(function () {
            $('.logo').removeClass('logo-blue');
           }, 1200)
         }, 1200)
       }, 1200)
    });
  </script>
<% end %>


    <header class="page-section page-section-header">
      <div class="container">
        <figure class="logo logo-red">
          <%= image_tag('logo.png', :width => '325') %>
        </figure>
      </div>
    </header>

    <section class="page-section page-section-alt">
        <div class="container">
          <div class="col-md-8 col-md-offset-2">
            <article class="teaser-text text-centered">
              <p>
                <b>With Brio</b> is a tiny creative studio specializing in web interfaces. Whether you're building a Rails app or a brochure website, we're here to help! We can take your idea from grayscale wires to vector graphics to git repos, or we can just jump in where you need us. Some of the brands we've worked with are listed below. Our elves are building a real portfolio as we speak.
              </p>
            </article>
          </div>
          <figure class="table-row table-row-brand">
            <div class="table-cell table-cell-brand">
              <%= image_tag('brands/cartalk.svg', :height => '80') %>
            </div>
            <div class="table-cell table-cell-brand">
              <%= image_tag('brands/big-boulder.svg', :height => '80') %>
            </div>
            <div class="table-cell table-cell-brand">
              <%= image_tag('brands/cfp.svg', :height => '80') %>
            </div>
          </figure>
          <figure class='table-row table-row-brand'>
            <div class="table-cell table-cell-brand">
              <%= image_tag('brands/twitter.svg', :height => '60') %>
            </div>
            <div class="table-cell table-cell-brand">
              <%= image_tag('brands/heavybit.svg', :height => '60') %>
            </div>
            <div class="table-cell table-cell-brand">
              <%= image_tag('brands/su2c.svg', :height => '80') %>
            </div>
          </figure>
        </div>
    </section>

    <section class="page-section page-section-decorative page-section-decorative-dust">
      <div class="container">
        <div class="table-row">
          <article class="table-cell table-cell-article">
            <h2 class="heading heading-primary">
              Periodic Table of 4000-Footers
            </h2>
            <p>
              A NH native, I started hiking in the White Mountains when I was four years old. Even immediately after finishing hikes, I remember poring over maps and guidebooks, scouting the next adventure. I was hooked...still am. A soon-to-be dad, I wanted to foster the same sense of anticipation in my little one. Since my wife is a scientist, I thought it would be fun to extend the periodic table paradigm to peak-bagging. People have extended it to alcohol, breakfast cereal, and hip-hop, so why not mountains?
            </p>
          </article>
          <figure class="table-cell table-cell-figure">
            <%= image_tag('poster.jpg', :class => 'img-responsive') %>
          </figure>
        </div>
      </div>
    </section>

    <section class="page-section page-section-alt page-section-quaternary">
      <div class="container">
        <div class="contact-form">
          <h2 class="heading heading-primary">
            Contact
          </h2>
          <form name="contact" action="thank-you.html">
            <div class="row">
              <div class="col-md-5">
                <label class="form-label">
                  First Name
                </label>
                <input type="text" name="first_name">
                <label class="form-label">
                  Last Name
                </label>
                <input type="text" name="last_name">
                <label class="form-label">
                  Email Name
                </label>
                <input type="email" name="email">
              </div>
              <div class="col-md-6 pull-right">
                <label class="form-label">
                  Your message
                </label>
                <textarea name="message"></textarea>
                <button>Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <footer class="page-section page-section-footer">
      <div class="container">
        <%= simple_format(lorem.paragraph) %>
      </div>
    </footer>

